name: test-1
on:
  push: 
    branches: [master]
jobs:
  print-repo-name:
    runs-on: ubuntu-latest
    steps:
      - name: Print repo name
        run : |
          echo "Hello $GITHUB_REPOSITORY ok"
          echo "hello ${{ github.repository }}"
          echo "STARS=$(curl --silent 'https://api.github.com/repos/${{github.repository}}' -H 'Accept: application/vnd.github.preview' | jq '.stargazers_count')" >> $GITHUB_ENV
          echo "${{env.STARS}}""


